// Breakpoints
$sideframe: 200px;
$page-width-normal: 1024px;
$page-width-large: 1380px;
$page-width-small: 768px;
$bp-normal: $page-width-normal+$sideframe;
$bp-large: 1920px;
$bp-small: $page-width-small;

// Scaling factors
$scaling-vertical: 0.86;

// Paddings
$menu-width: 17%;

//Colors
$gray: #DADADA;