footer{
	//background-color:$gray;
	height: 45px;
	margin: 0 auto;
	nav{
		height: 100%;
		min-width: 355px;
		ul{
			height: 100%;
			text-align:center;
			li{
				float:left;
				height: 100%;
				padding: 15px;
			}
		}
	}
}