.top-navigation {
	min-height: 40px;
	margin-top: 60px;
	ul {
		display:block;
		float: right;
		
		li{
			float:left;
			padding: 10px;
			a {
				text-decoration:none;
				font-size: 12px;
			}
			border-left: 1px solid black;
			&:hover {
				background-color: $gray;
				color: white;
				a {
					color: white;
				}
			}
		}
	}
}
.main-navigation {
	position: fixed;
	height: 60px;
    margin: 0% auto;
    left: 0;
    right: 0;
    top:0px;
    background-color:$gray;
    overflow: hidden;
    z-index:1;
    ul {
    	height:100%;
	    li{
	    text-transform: uppercase;
	    font-size:14px;
	    height: 100%;
	    padding-top:20px;
	    	&:hover{
	    		background-color:white;
	    		color: #DADADA;
	    	}
	    }
	}
}
/*small displays*/
@include bp('max-width', $bp-small){
	.main-navigation {
		width:14%;
    	left: 0;
    	background-color:#DADADA;
    	z-index:1;
    	height: auto;
    	margin-left:0px;
    	min-width: 105px;
    	top:35%;
    	&.center ul{
    		height: auto;
    		display:block;
    		left:0px;
    	}
    	
	}
	.top-navigation {
		margin-top: 0px;
	}

}
.menu-container {
	margin: 0 auto;
	width: 90%;
	nav {
		ul{
			padding: 20px;
			border: 1px solid black;
			line-height: 40px;
			min-height:50px;
			li{
				float:left;
				width: 20%;
				a {
					text-decoration:none;
				}
			}
		}
	}
}

